.how-to-use {

  &-header {
    font-weight: 900;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;

    @media (max-width: 660px) {
      font-size: 40px;
      line-height: 44px;
    }
  }

  &-plates {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    
    -ms-overflow-style: none;
    scrollbar-width: none;

    @media (max-width: 660px) {
      margin-top: 32px;
      padding-left: 12px;
    }

    &--item {
      width: 100%;
      min-height: 244px;
      background: #FF783E;
      border-radius: 20px;
      padding: 16px 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 240px;

      @media (max-width: 660px) {
        min-width: 160px;
        min-height: 188px;
        padding: 16px 16px;
        margin-left: 8px;
      }

      .desc {
        &-title {
          font-weight: 900;
          font-size: 28px;
          line-height: 30px;
          color: #FFFFFF;
          max-width: 200px;

          @media (max-width: 660px) {
            font-size: 20px;
            line-height: 22px;
            max-width: 128px;
          }
        }

        &-text {
          max-width: 200px;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #FFFFFF;
          opacity: 0.6;
          margin-top: 12px;

          @media (max-width: 660px) {
            max-width: 128px;
            font-size: 12px;
            line-height: 16px;
            margin-top: 8px;
          }
        }
      }

      img {
        @media (max-width: 660px) {
          width: 40px;
        }
      }
    }
  }


}
